*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    
}

html{
    font-family: Georgia, serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

header{
    position: absolute;
    display: flex;
    padding: 40px;
    width: 100%;
    height: 70px;
    z-index: 1;
    align-items: center;
    justify-content: space-between;
}

.logo img{
    margin-top: 60px;
    width: 200px;
    height: 200px;
}

/* nav bar */

header nav ul{
    background: black;
    display: flex;
    padding: 15px 15px;
    border-radius: 10px;
    transition: 0.5s;
}

header nav ul li a{
    margin: 5px 20px;
    font-size: 20px;
    color: antiquewhite;
    padding: 15px 15px;
    transition-delay: 0.5s;
    transition: 0.5s;
}

header nav ul li a:hover{
    font-size: 28px;
    border-bottom: 2px solid antiquewhite;
}

/* home page */

.home{
    display: flex; 
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}


.home-text{
    color: rgb(230, 215, 195);
    font-size: 25px;
}

.htext span{
    color: black;
}

/* Image Slider */

.slide-container{
    margin-top: 40px;
    width: 40%;
    height: 65vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: rgba(0, 0, 0, .8);
    border-radius: 20px;
}

.image-slider{
    width: 100%;
    height: 500px;
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.7s;
}

.slide-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 30px 0 30px;
}

.img{
    position: relative;
    width: 240px;
    height: 370px;
    border-radius: 10px;
    transition: 0.5s;
    filter: saturate(10%);
}

.button{
    position: absolute;
    width: 240px;
    height: 370px;
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.4);
}

.button:hover{
    background-color: rgba(0, 0, 0, 0.2);
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5{
    width: 380px;
    height: 585px;
    background-color: transparent;
    filter: saturate(100%);
}

#slider-span1:target ~ .image-slider {left: 25%;}
#slider-span2:target ~ .image-slider {left: 12%;}
#slider-span3:target ~ .image-slider {left: 0%;}
#slider-span4:target ~ .image-slider {left: -12%;}
#slider-span5:target ~ .image-slider {left: -25%;}

/* menu */

.menu{
    background-image: url("../images/background.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 10em;
}

.menu-header h3{
    margin-top: 40px;
    color: antiquewhite;
    font-size: 40px;
    padding: 10px 30px;
    align-items: center;
    align-content: center;
}

.menu-items{
    display: flex;
    align-items: top center;
    justify-content: space-evenly;
    height: 100%;
    padding: 50px 0;
    flex-wrap: wrap;
}

.menu-items .container{
    width: 403px;
    height: 20px;
}

.menu-items .container-image{
    width: 100%;
    height: 403px;
    overflow: hidden;
}

.menu .container-image img:hover{
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
    transition-delay: .2s;
}

.menu .container-content{
    align-items: center;
    background-color: #3B3B3B;
    padding: 20px;
    color: white;
    border: 3px solid #3B3B3B;
}

.menu .container-content h3{
    padding: 10px 0;
}

.menu .container-content .price{
    text-align: center;
    font-size: 22px;
}

/* contact */

.contact{
    color: antiquewhite;
    display: flex; 
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url("../images/background.png");
    background-size: cover;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.contact table th{
    background-color: black;
    border-radius: 10px;
    font-size: 32px;
    padding-inline: 5rem;
}

.contact table td{
    padding: 5rem;
}

.contact table ion-icon{
    color: #ddd;
    font-size: 16px;
    background: linear-gradient(45deg, #eead35, #694400);
    margin: -50px;
    height: 125px;
    width: 125px;
    text-align: center;
    justify-content: space-between;
    border-radius: 30px;
    transition: 0.5s;
}

.instagram:hover ion-icon{
    transform: scale(1.2);
}

.facebook:hover ion-icon{
    transform: scale(1.2);
}